<html>
  <head>
    <!-- Bootstrap core CSS -->
    <style type='text/css'>
      .label {
        float : right;
      }
    </style>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <a href="/">Home</a>
    <h1> Products </h1>

    <div class="form-group">
      <form action="/products" method="POST">
        <input name="name" class="form-control input-lg" placeholder="name">
        <br>
        <input name="rating" class="form-control input-lg" placeholder="rating">
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

    <div id="productList">
      {% for product in products %}
        <li class="list-group-item"><a href="/product/{{product.id}}">{{product.name}}</a>
        <span class="label label-default">{{product.rating}}</span></li>
      {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      socket.on('connect', function(){
        console.log('connected to server via WebSockets!');
      });
      socket.on('newProduct', function (product) {
        console.log("product is",product);
        let line1 = '<li class=\"list-group-item\"><a href="/product/'+product.id+'">'+product.name+ '</a>'
        let line2 = '<span class=\"label label-default\">'+product.rating+'</span></li>'
        $('#productList').append(line1, line2)
      });


    </script>

  </body>

</html>
